.attribution {
    font-size : 11px;
    text-align: center;
}

.attribution a {
    color: hsl(227, 39%, 47%);
}

body {
    background-color: hsl(217, 28%, 15%);
    margin          : 0;
}

.Spacer {
    flex-grow: 1;
}

.TopNavBar {
    margin       : 2rem 7rem;
    padding-top  : 2rem;
    display      : flex;
    align-items  : center;
    margin-bottom: 6rem;
}

.NavLinks {
    font-family    : 'Raleway', sans-serif;
    color          : hsl(0, 0%, 100%);
    font-weight    : 400;
    font-size      : 0.85rem;
    letter-spacing : 0.12em;
    margin-left    : 1.5em;
    margin-right   : 1.5em;
    text-decoration: none;
}

/* .NavLinks:hover{
    text-decoration: solid white underline;
    transform: translateY(0.25em);
    box-shadow: 0 0.5em 0.5em -0.4em #ffffff;
} */

.MainFlow {
    padding-left : 20rem;
    padding-right: 20rem;
}

.CentralAlignment {
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

/* FIXME: Correct the background curved svg */
.IntroSection {
    /* background: URl("images\\bg-curvy-desktop.svg");
    background-repeat: no-repeat;
    background-position-x: center; */
    margin-bottom: 5em;
}

.IllustrationIntroImg {
    height: 27rem;
}

.IntroHeading {
    color        : hsl(0, 0%, 100%);
    font-family  : "raleway";
    font-weight  : 700;
    font-size    : 2.5rem;
    text-align   : center;
    margin-bottom: 0.5em;
}

.IntroPara {
    color      : hsl(0, 0%, 90%);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align : center;
    width      : 32em;
    line-height: 1.5em;
}

.IntroButton {
    /* background-color: hsl(176, 68%, 64%); */
    background   : rgb(51, 158, 204);
    background   : linear-gradient(253deg, rgba(51, 158, 204, 1) 31%, rgba(101, 226, 217, 1) 96%);
    border       : none;
    font-family  : Raleway, sans-serif;
    font-weight  : 700;
    color        : hsl(0, 0%, 100%);
    /* font-size : ; */
    border-radius: 2em;
    width        : 18em;
    height       : 4em;
    margin-top   : 2em;
    cursor       : pointer;
}

.FeatureSection {
    display       : flex;
    flex-direction: column;
    margin-top    : 5em;
    margin-bottom : 2em;
}

.FeatureRow {
    display        : flex;
    align-items    : baseline;
    justify-content: space-between;
}

.FeatureDiv {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    color         : hsl(0, 0%, 100%);
    text-align    : center;
    margin-left   : 8.5em;
    margin-right  : 8.5em;
}

.FeatureDiv:nth-of-type(1) {
    margin-bottom: 4em;
}

.FeatureDiv:nth-of-type(2) {
    margin-bottom: 4em;
}

.FeatureHeader {
    font-family  : Raleway, sans-serif;
    font-size    : 1.15rem;
    font-weight  : 700;
    margin-top   : 1.7em;
    margin-bottom: 0em;
}

.FeatureDescription {
    font-family: "Open Sans", sans-serif;
    font-size  : 0.84rem;
    line-height: 1.5;
    width      : 28em;
    color      : hsl(0, 0%, 76%);
}

.FeatureImage {
    width: 4.5em;
}

.StayProdSection {
    display: flex;
    width  : 80%;
    margin : 2em auto;
}

.StayProdRow {
    display       : flex;
    flex-direction: column;
    justify-content: center;
}

.StayProdHeader {
    color      : hsl(0, 0%, 100%);
    font-family: "Raleway", sans-serif;
    font-size: 2.5em;
    width: 80%;
}

.StayProdText {
    color: hsl(0, 0%, 76%);
    font-family: "Open Sans" ,sans-serif;
}

#SeeHowFyloWorks a,
#SeeHowFyloWorks a:link,
#SeeHowFyloWorks a:visited {
    color: hsl(176, 68%, 64%);
}

.StayProdImg {
    /* width: 50%; */
    flex-grow: 1;
}